<h2 class="register__title">Create Account</h2>

<p class="register__subtitle">
  Create your account to start using NextBank and enjoy our services.
</p>

<form class="register-form">

  <mat-form-field appearance="outline">

    <mat-label>First Name</mat-label>

    <input
      matInput
      type="text"
      placeholder="Enter your first name">

  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Last Name</mat-label>

    <input
      matInput
      type="text"
      placeholder="Enter your last name">

  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Email</mat-label>

    <input
      matInput
      type="email"
      placeholder="you@example.com">

  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Password</mat-label>

    <input
      matInput
      type="password"
      placeholder="Enter your password">

  </mat-form-field>

  <mat-form-field appearance="outline">

    <mat-label>Confirm Password</mat-label>

    <input
      matInput
      type="password"
      placeholder="Confirm your password">

  </mat-form-field>

  <button
    mat-flat-button
    color="primary">

    Create Account

  </button>

</form>

<div class="register-links">

  <a href="">Back to Login</a>

  

</div>


