<h2 class="forgot-password__title">Forgot Password?</h2>

<p class="forgot-password__subtitle">
  Enter your email to receive a reset link.
</p>

<form class="forgot-password-form">

  <mat-form-field appearance="outline">

    <mat-label>Email</mat-label>

    <input
      matInput
      type="email"
      placeholder="you@example.com">

  </mat-form-field>

  <button
    mat-flat-button
    color="primary">

    Send Reset Link

  </button>

</form>

<div class="back-to-login-link">

  <a href="#">Back to Login</a>

</div>
