@use '../../../../../styles/variables' as *;

:host {
  display: block;
}

.forgot-password__title {
  text-align: center;

  color: $color-primary;

  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;

  letter-spacing: -0.03em;

  margin-bottom: $spacing-sm;
}

.forgot-password__subtitle {
  text-align: center;

  color: $color-text-secondary;

  font-size: $font-size-md;
  font-weight: $font-weight-regular;

  margin-bottom: $spacing-xl;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;

  gap: $spacing-md;
}



button {
  display: block;
  width: 50%;
  height: 52px;

  margin-top: $spacing-sm;
  margin-left: auto;
  margin-right: auto;

  border-radius: 999px;

  font-size: $font-size-md;
  font-weight: $font-weight-semibold;
}

.back-to-login-link {
  display: flex;

  margin-top: $spacing-lg;

  font-size: $font-size-sm;
}

.back-to-login-link a {
  color: $color-primary;

  text-decoration: none;

  font-weight: $font-weight-medium;
  
  transition: color .2s ease;
}

.back-to-login-link a:hover {
  color: $color-primary-dark;
}